<!DOCTYPE HTML>
<html>
<head><h1> Add a new listing to MakersBNB!</h1> <head>

<body> <h2> Please enter your information below </h2>

<form action='/' method='post'>
  <h4> Place name / address: <input type='text' name='place_name'><br><br>
       Price per night: <input type='number' name='ppn'><br><br>
       Maximum number of guests: <input type='number' name='guests'><br><br>
       Description: <input type='text' name='description'><br><br><br>
       <button type='submit'> Submit new listing now </h4>


</body>
</html>
