<head><h2> You have now accepted this request.</h2></head><br>

<body> You will be redirected to the requests page in 5 seconds.</body>
<meta http-equiv="Refresh" content="5; url=http://localhost:9292/requests" />
