<!DOCTYPE html>
<html>
<h1> Makersbnb </h1>

<form action="/listings" method="get">
  <input type="submit" value="View Listings">
</form>

<form action="add_listing" method="get">
  <input type="submit" value="Create Listing">
</form>


</html>
